$lightest-gray: #f7f7f5;
$alice-blue: #f9f9f9;
$light-gray: #e2e2e2;


.App {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

#Audio {
  width: 100%;
  height: 40px;
  color: black;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;

}

footer > div {
  border-top: 2px solid $light-gray;
  border-left: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  border-radius: 4px;
  background-color: white;
}

.AudioPlayer {
  width: 100%;
  height: auto;
}

#root {
  display: inherit;
  margin: inherit;
}

main {
  margin-left: 35px;
  margin-right: 35px;
  border-right: 2px solid $light-gray;
  border-left: 2px solid $light-gray;
  height: 100%;
  display: flex;
  margin-top: 36px;
  background-color: $alice-blue;
}

.small-player {
  width: 140px;
  height: 140px;
  bottom: 44px;
  right: 80px;
  border-top: 2px solid $light-gray;
  border-left: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  border-radius: 4px;
  position: fixed;
}

.avatar {
  width: 80px;
  height: 80px;
}
