$lightest-gray: #f7f7f5;
$alice-blue: #f9f9f9;
$light-gray: #e2e2e2;


.App {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.AudioPlayer {
  width: 100%;
  height: auto;
}

#root {
  display: inherit;
  margin: inherit;
}

main {
  margin-left: 35px;
  margin-right: 35px;
  border-right: 2px solid $light-gray;
  border-left: 2px solid $light-gray;
  height: 100%;
  display: flex;
  margin-top: 40px;
  background-color: $alice-blue;
}

.small-player {
  width: 80px;
  height: 80px;
  bottom: 42px;
  right: 0px;
  border-top: 2px solid $light-gray;
  border-left: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  border-radius: 4px;
  position: fixed;
}

.avatar {
  width: 80px;
  height: 80px;
}
