$light-gray: #e2e2e2;

#Audio {
  border-top: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  color: black;
  position: fixed;
  left: 30px;
  bottom: 0px;
  background-color: white;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;

  * {
    display: flex;
    z-index: 5;
  }

  marquee {
    font-family: "Oswald", sans-serif;
    width: 200px;
    position: fixed;
    background-color: white;
    right: 80px;
    bottom: 42px;
    border-top: 2px solid $light-gray;
    border-left: 2px solid $light-gray;
    border-right: 2px solid $light-gray;
    border-radius: 4px;
  }

  .empty-queue {
    bottom: 0px;
    right: 0px;
  }
}

span {
  width: inherit;
  height: inherit;
  position: relative;
}

footer > div {
  position: relative;

  img {
    width: 25px;
    height: 20px;
    position: fixed;
    left: 8px;
    bottom: 5px;
  }
}

.dropdown {
  font-family: "Oswald", sans-serif;
  width: 20%;
  position: fixed;
  background-color: white;
  right: 80px;
  bottom: 42px;
  border-top: 2px solid $light-gray;
  border-left: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  border-radius: 4px;
  z-index: 5;
}

.dropdown-content {
    display: none;
    position: fixed;
    bottom: 67px;
    right: 82px;
    background-color: #f9f9f9;
    width: 185px;
    min-width: 160px;
    padding: 4px 6px;
    z-index: 1;
    border-top: 2px solid $light-gray;
    border-left: 2px solid $light-gray;
    border-right: 2px solid $light-gray;
    border-radius: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
