$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$shadow: rgb(77, 76, 76);

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

header {
  z-index: 900;
  background-color: $gray;
  font: Sans-Serif;
  width: 100%;
  display: flex;
  flex-direction: column;;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  left: 0;
}

.search-bar {
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  z-index: 24;
  position: fixed;
}

.greet-text {
  font-size: 12px;
  width: auto;
}

.loading {
  background-size: cover;
  width: 70vw;
  height: 50vh;
  z-index: 25;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  font-family: 'Kaushan Script', cursive;
  color: white;
  text-shadow: 2px 2px $shadow;
}

nav {
  width: 100%;
  height: inherit;
  padding: 10px, 0px, 10px, 0px;
  z-index: 95;

  i {
    padding: 10px;
  }
}

input {
    padding: 0;
    height: 25px;
    border-radius: 4px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: beige;
    font-size: 16px;
}

.title {
  font-family: 'Satisfy', cursive;
  font-weight: 600;
  text-shadow: 2px 2px $shadow;
  color: white;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 7.5px;
  font-size: 30px;
}

.form-title {
  font-family: 'Satisfy', cursive;
  text-align: center;
  text-shadow: 2px 2px $gray;
  font-weight: 800;
  font-size: 40px;
  color: white;
  margin-left: 15px;
  margin-right: 7.5px;
}

.login-input {
  font-family: 'Monsterrat', sans-serif;
  color: black;
  text-align: center;
}

.form-text {
  font-family: 'Monsterrat', sans-serif;
  color: black;
  text-shadow: 1px 1px $dark-gray;
  margin: 7.5px;
  width: 100%;
  text-align: center;
}

.errors {
  font-size: 10px;
  color: red;
  list-style: none;
  text-align: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-par {
  z-index: 9;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  margin: 10px, 15px, 10px, 15px;
}

.mini {
  margin: 0px, 7.5px, 0px, 7.5px;
  padding: 5px;
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.right-nav-btns {
  display: flex;
  align-items: center;

  p {
    font-family: 'Monsterrat', sans-serif;
    color: white;
    text-shadow: 1px 1px $dark-gray;
  }
}

.left-nav-btns {
  display: flex;
  align-items: center;

}

button {
  font-size: 16px;
  border-radius: 8px;
  background-color: $light-blue;
  border: $dark-blue;
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 2px;
  width: 75px;
  height: 22px;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 7.5px;
  margin-left: 7.5px;
}


.splash-image {
  // position: relative;
  // width: 100%;
  // height: auto;
  z-index: 1;

  .splash-text {
    background-image: url('https://s3-us-west-1.amazonaws.com/chillcloud-dev/splash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-shadow: 4px 4px $shadow;
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;

    h1 {
      font-size: 100px;
      font-weight: lighter;
      text-shadow: 4px 4px $shadow;
      border-bottom: 4px solid white;
      border-style: groove white;
    }

    p {
      font-family: 'Kaushan Script', cursive;
      text-shadow: 2px 2px $shadow;
      text-transform: full-width;
      margin-top: 15px;
      font-size: 20px;
    }
  }
}

  button {
    span {
      font-family: 'Monsterrat', sans-serif;
      cursor: pointer;
      // display: inline-block;
      position: relative;
      transition: 0.5s;
    }
  }


  button {
     span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -5px;
      transition: 0.5s;
    }
  }


  button:hover {
    background-color: $blue;
    span {
      padding-right: 12px;
    }
  }


  button:hover {
    span:after {
      opacity: 1;
      right: 0;
    }
  }
