$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$shadow: rgb(77, 76, 76);

.song-view {
  width: inherit;
  height: auto;
}

.comments {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 12px;
}

.genre {
  background-color: $light-gray;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
  padding-left: 6px;
  padding-right: 6px;
}

.song-view-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.song-detail-comp {
  position: relative;
  font-size: 16px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 15px;
  // width: inherit;
  height: auto;
  border-style: solid;
  border-width: 2px;
  border-color: $light-gray;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
  }

  p {
    align-self: flex-end;
    align-self: baseline;
  }
}

.song-detail-comp:hover {
  background-color: $light-gray;
}

.second-col {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  li {
    margin: 3px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 2px;
  align-items: center;
}

.play-button {
    height: 40px;
    width: 65px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
}

.play-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.queue-button {
    height: 18px;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
    font-weight: 900;
}

.queue-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}
