$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$shadow: rgba(77, 76, 76, 0.8);
$imgKey: random(8);
$list: cover1, cover2, cover3, cover4, cover5, cover6, cover7, cover8;
$nth: nth($list, $imgKey);


.song-view {
  width: auto;
  height: 380px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  background-image: url("https://s3-us-west-1.amazonaws.com/chillcloud-dev/stock/#{$nth}.jpg");
  background-size: 100% 100%;
  border: 2px solid $shadow;

  .artist-buttons {
    position: absolute;
    left: 15px;
    bottom: 15px;
  }

  img {
    height: 320px;
    width: 320px;
    margin-right: 30px;
    border: 2px solid $shadow;
  }

  section {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  ul > li {
    background-color: $shadow;
    padding: 5px 8px 5px 8px;
    color: white;
    font-family: 'Oswald', sans-serif;
  }

}

.comment-disp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete-button {
  width: 12px;
  height: 12px;
  content: "x";
  border-radius: 50%;
  font-size: 10px;
  color: white;
  font-weight: 800;
  font-family: 'monsterrat', sans-serif;
}

.delete-button:hover {
  color: rgba(0, 173, 239, 0.9);
;
}

.comment-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid $light-gray;

  input {
    width: 100%;
  }

  button {
    font-family: 'monsterrat', sans-serif;
  }
}

.comments-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 12px;
}

.genre {
  background-color: $light-gray;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 12px;
  padding-left: 6px;
  padding-right: 6px;
}

.song-view-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
}

.bottom-view {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 20px;
  border-top: 2px solid $light-gray;
}

.song-detail-comp {
  position: relative;
  font-size: 16px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: 15px;
  // width: inherit;
  height: auto;
  border-style: solid;
  border-width: 2px;
  border-color: $light-gray;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
  }

  p {
    align-self: flex-end;
    align-self: baseline;
  }
}

.song-detail-comp:hover {
  background-color: $light-gray;
}

.second-col {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  li {
    margin: 3px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 2px;
  align-items: center;
}

.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

.artist-similar {
  display: flex;
  flex-direction: column;
  min-width: 260px;
}

.pause-button {
    padding: 0px;
    height: 40px;
    width: 65px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
}

.pause-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.play-button {
    padding: 0px;
    height: 40px;
    width: 65px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
    z-index: 9;
}

.play-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.queue-button {
    padding: 1px;
    height: 18px;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: relative;
    font-weight: 900;
}

.queue-button:hover {
    background-color: rgba(0, 173, 239, 0.9);
}
