$shadow: rgb(77, 76, 76);
$light-gray: #e2e2e2;


.stream-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 44px;
  font-family: 'Monsterrat', sans-serif;

  label {
    padding: 15px;
  }
}

.main-body {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.side-bar {
  width: 30vw;
}
.side-bar-list {
  width: 30vw;
  border-left: 2px solid gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  img {
    margin: auto;
  }

  label {
    margin: 10px;
    font-size: 20px;
    font-family: "Monsterrat", sans-serif;
    text-align: center;
  }

  a {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  li:hover {
    background-color: $light-gray;
  }
}
