$shadow: rgb(77, 76, 76);
$light-gray: #e2e2e2;


.stream-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-size: 44px;
  font-family: 'Monsterrat', sans-serif;

  label {
    padding: 20px;
  }

  li {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.main-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side-bar {
  width: 30vw;
}
.side-bar-list {
  flex-grow: 1;
  margin-left: 30px;
  margin-right: 30px;
  max-width: 240px;
  width: 25%;
  border-left: 2px solid $light-gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: fixed;
  right: 0;
  height: 90vh;

  img {
    margin: auto;
  }

  label {
    margin: 10px;
    font-size: 20px;
    font-family: "Monsterrat", sans-serif;
    text-align: center;
  }

  a {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  li:hover {
    background-color: $light-gray;
  }
}
